pypdf
langchain_community
langchain-text-splitters
langchain-astradb>=0.3.3
langchain-mistralai
langchain_astradb
python-dotenv
python-docx
docx2txt
pillow
pytesseract
streamlit
langchain-experimental