fastapi[standard]
uvicorn
python-multipart
pydantic
python-dotenv
langchain
langchain-core
langchain-community
langchain-mistralai
chromadb
pypdf
docx2txt
tiktoken
pytesseract
tesseract
pdf2image
pillow
